<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpHandlers>
      <!--ServiceBus-->
      <add path="/ServiceBusTriggerCommand.ashx" verb="*" type="Expo.Web.ServiceBusExpoHttpHandler, Expo.Web"/>
      <add path="/ServiceBusBroadcastCommand.ashx" verb="*" type="Expo.Web.ServiceBusExpoHttpHandler, Expo.Web"/>
      <add path="/ServiceBusGetScript.ashx" verb="*" type="Expo.Web.ServiceBusExpoHttpHandler, Expo.Web"/>
    </httpHandlers>
  </system.web>
</configuration>