<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Wind.iSeller.NServiceBus.Core.Configurations.ServiceBusSection, Wind.iSeller.NServiceBus.Core"/>
    <section name="commSection" type="Wind.Comm.CommSection, Wind.Comm"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>

  <commSection apiDefine="apiDefine.xml" mbUrl="AppConfig.xml" timeOut="60000"/>

  <appSettings>
    <!--默认记录超时警告的阈值（毫秒）-->
    <add key="WindPerformanceCounter.DefaultWarnningThreshold" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="ISellerConnection"
      connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.102.16.24)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = refdata)));User Id=mall;Password=mall;Pooling=True;Max Pool Size=30;Min Pool Size=0"/>
  </connectionStrings>

  <serviceBus>

    <!--WindBus定义-->
    <busGroup>

      <busServer name="wind.iSeller.dataServer" isCurrent="true">
        <expoServer appClassId="1365" isStart="true" commandId="3903" commandTimeout="6000"/>
      </busServer>
      <busServer name="wind.iSeller.businessServer01">
        <expoServer appClassId="1040" isStart="true" commandId="2771" commandTimeout="6000"/>
      </busServer>

    </busGroup>


    <!--服务定义-->
    <serviceGroup>

      <busServer name="wind.iSeller.dataServer">
        <!--数据服务程序集-->
        <add name="wind.iseller.data.core"/>
        <!--配置服务程序集-->
        <add name="wind.iSeller.serviceBus.zero"/>
        <!--iSeller遗留项目程序集-->
        <add name="wind.iSeller.legacyManage"/>
      </busServer>
      
      <busServer name="wind.iSeller.businessServer01">
        <!--投标工作流程序集-->
        <add name="wind.iSeller.workFlow.bid"/>
        <!--配售工作流程序集-->
        <add name="wind.iSeller.workFlow.bond"/>
        <!--具体业务程序集-->
        <add name="wind.iSeller.business.core"/>
      </busServer>

    </serviceGroup>

  </serviceBus>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>